{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assignments %}


{% block course_content %}
    <h4> {{ assignment.title }} </h4>
    <p> {{ assignment.description }}</p>


    <ul class="list-group">
        {% for feedback in feedbacks %}
          <li class="list-group-item">
            <span class="badge">{{ feedback.mark }}</span>
            Відгук #{{ feedback.attempt }}
          </li>
        {% endfor %}
    </ul>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ solution.as_p }}
        <p><input type="submit" value="Завантажити" /></p>
    </form>



{% endblock %}
