
{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assignments %}

{% block course_content %}
    <div class="panel-group" id="weeks-list" role="tablist" aria-multiselectable="true">

        {% for week in weeks %}

            <div class="panel panel-default week">
                <div class="panel-heading" role="tab" id="heading{{ week.number }}">
                    <h4 class="panel-title">
                        <a class="collapsed title" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse{{ week.number }}" aria-expanded="false"
                           aria-controls="collapse{{ week.number }}">
                            Week {{ week.number }}

                        </a>
                    </h4>
                </div>
                <div id="collapse{{ week.number }}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading{{ week.number }}">
                    <div class="panel-body">

                        <div class="assignment-list list-group">
                            {% for assignment  in week.assignment_set.all %}
                                <a href="{% url "courses:assignments:assignment" course.id week.number assignment.id %}" class="list-group-item">
                                    {{ assignment.title }}
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}
    </div>
{% endblock %}