{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assessments %}


{% block course_content %}
    <h4> {{ assessment.title }} </h4>
    <p> {{ assessment.description }}</p>


    <ul class="list-group">
        {% for feedback in feedbacks %}

              <li class="list-group-item">
                <span class="badge">{{ feedback.mark }}</span>
                Feedback #{{ feedback.attempt }}
              </li>
        {% endfor %}
    <a href="{% url "courses.assessments.assessment" course.id %}" class="button">Attempt assessment</a>
    </ul>

{% endblock %}