{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assessments %}


{% block course_content %}
    <h3> {{ questionset.title }} </h3>
    <pre> {{ questionset.description }}</pre>
{#        {% for foo in forms %}#}
{#            {{ foo }}#}
{#        {% endfor %}#}

        <form method="post">
        {% for question in questionset.questions %}
            <div class="question">
            <h4> Question {{ question.number }}</h4>
            <pre>
                {{ question.text }}
            </pre>
            <ul class="list-group">
                {{ question.answers }}
{#                {% for answer in question.answers.choices %}#}
{#                    {{ answer }}#}
{#                    <li class="list-group-item checkbox">#}
{#                      <label>#}
{#                          <input type="checkbox" name="answer" value="{{ question.number }}-{{ number }}">#}
{#                          {{ text }}#}
{#                      </label>#}
{#                    </li>#}
{#                {% endfor %}#}
            </ul>

            </div>
        {% endfor %}

        <input class="btn btn-success" type="submit" value="I'm done!">
        </form>

{% endblock %}