{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assessments %}


{% block course_content %}
    <h3> {{ questionset.title }} </h3>
    <pre> {{ questionset.description }}</pre>

        <form method="post">
        {% csrf_token %}
        {% for question in questionset.questions %}
            <div class="question">
            <h4> Запитання {{ question.number }}</h4>
            <pre>
                {{ question.text|linebreaks }}
            </pre>
            <ul class="list-group">

                {% for answer in question.answers %}

                        <div class="list-group-item checkbox">
                            <div class="list-group-item-text">
                                <label for="{{ answer.id_for_label }}">
                                    <input id="{{ answer.id_for_label }}" type="checkbox"
                                           value="{{ answer.choice_value }}" name="{{ answer.name }}">
                                    {{ answer.choice_label|spacify|linebreaksbr }}
                                </label>
                            </div>
                        </div>
                    {% endfor %}


{#                {{ question.answers|linebreaks }}#}
            </ul>

            </div>
        {% endfor %}

        <input class="btn btn-success" type="submit" value="Зроблено!">
        </form>

{% endblock %}
