{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assessments %}


{% block course_content %}
    <h3> {{ feedback.title }} </h3>
    <pre> {{ feedback.description }}</pre>

{#    <pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}


    {% for question in feedback.questions %}
        <div class="question">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Запитання {{ question.number }}</h3>
                </div>
                <div class="panel-body">
                    {{ question.text }}
                    {% if question.explanation %}
                        <div class="well well-lg">{{ question.explanation }}</div>
                    {% endif %}
                </div>

                <div class="list-group">
                    {% for answer in question.answers %}

{#                        {{ answer.is_chosen }}#}
{#                        {{ answer.is_correct }}#}

                        {% if answer.is_chosen == answer.is_correct %}
                            <div class="list-group-item checkbox list-group-item-success">
                        {% else %}
                            <div class="list-group-item checkbox list-group-item-danger">
                        {% endif %}
                            <div class="list-group-item-text">
                                <label>
                                    {% if answer.is_chosen %}
                                        <input type="checkbox" checked="checked" disabled>
                                    {% else %}
                                        <input type="checkbox" disabled>
                                    {% endif %}
                                    {{ answer.text }}
                                </label>
                            </div>
                            {% if answer.explanation %}
                                <div class="well well-sm">{{ answer.explanation }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
