{% load course_tags %}
{% xextends "courses/base_dashboard.html" with active_tab=assessments %}


{% block course_content %}
    <h4> {{ questionset.title }} </h4>

    <ul class="list-group">
        {% for feedback in feedbacks %}

              <li class="list-group-item">
                <span class="badge">{{ feedback.mark }}</span>
                  {% with forloop.counter as feedback_number %}
                      <a href="{% url "courses:assessments:feedback" course.id week_id assessment_id feedback_number %}">
                          Відгук #{{ feedback_number }}</a>
                  {% endwith %}
              </li>
        {% empty %}
            <li class="list-group-item">
            Ви ще не пройшли жодного тесту.
            </li>
        {% endfor %}
    <a href="{% url "courses:assessments:attempt" course.id questionset.week.number questionset.number %}" class="btn btn-primary">Attempt assessment</a>
    </ul>

{% endblock %}
