<nav style="z-index: 1000" class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "home" %}"> Система дистанційного навчання</a>
        </div>

        <div class="navbar-right">
        {% if user.is_authenticated %}

                <p class="navbar-text"> Увійти як
                    <a id="user-dashboard" class="navbar-link" href="{% url "accounts:profile" %}"> {{ user }}</a>
                </p>
                <a type="button" href="{% url "accounts:logout" %}" class="btn btn-default navbar-btn">Вийти</a>
            </div>
        {% else %}
                <p class="navbar-text">Ви неавторизовані</p>
                <a href="{% url "accounts:login" %}" type="button" class="btn btn-default navbar-btn">Авторизуватися</a>
        {% endif %}
    </div>
</nav>
