<nav class="navbar navbar-default" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "home" %}"> E-Learning system</a>
        </div>

        <div class="navbar-right">
        {% if user.is_authenticated %}

                <p class="navbar-text"> Signed in as
                    <a class="navbar-link" href=""> {{ user.username }}</a>
                </p>
                <a type="button" class="btn btn-default navbar-btn">Log out</a>
            </div>
        {% else %}
                <p class="navbar-text">You are not signed in</p>
                <a href="{% url "dashboard:login" %}" type="button" class="btn btn-default navbar-btn">Sign in</a>
        {% endif %}
    </div>
</nav>