{% extends "common/base_with_navbar.html" %}

{% block content %}
    <div class="panel-group" id="weeks-list" role="tablist" aria-multiselectable="true">

        {% for week in lectures_by_week %}


            <div class="panel panel-default week">
                <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                    <h4 class="panel-title">
                        <a class="collapsed title" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ forloop.counter }}" aria-expanded="false"
                           aria-controls="collapse{{ forloop.counter }}">
                            Week {{ forloop.counter }}

                        </a>
                    </h4>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="heading{{ forloop.counter }}">
                    <div class="panel-body">

                        <div class="lecture-list list-group">
                            {% for lecture  in week %}

                                <a href="{{ lecture.video_url }}" class="list-group-item">
                                    {{ lecture.title }}
                                </a>
                            {% endfor %}
                            {#                        FIXME: should use week.number, not forloop.counter#}
                            <a href="{% url "courses:manage_lecture" course_id=course.id week_number=forloop.counter %} "
                               class="list-group-item list-group-item-info add-lecture">Add new lecture</a>

                        </div>
                    </div>
                </div>
            </div>


        {% endfor %}
        {#        <div class="panel panel-primary">#}
        {#            <div class="panel-heading" role="tab">#}
        {#                <h4 class="panel-title">#}

        <form id="new_week" action="{% url 'courses:manage_week' course.id %}" method="post">
            {% csrf_token %}
            <button id="add-week" type="submit" class="btn btn-primary btn-lg btn-block">Add new week</button>
        </form>
        {#                </h4>#}
        {#            </div>#}
        {#        </div>#}

    </div>
{% endblock %}