{% extends "common/base_with_navbar.html" %}


{% block content %}
    <h2> {{ course.title }}</h2>
    <h3>{{ course.short_description }}</h3>
    <div id="full-desc"> {{ course.full_description }}</div>

    {% if is_enrolled %}
        <a href="{% url "courses:news" course.id %}" class="btn btn-primary btn-lg">Розпочати заняття</a>
    {% else %}
    <form action="{% url "accounts:enroll" %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="course" value="{{ course.id }}">
        <input id="enroll" class="btn btn-primary btn-lg" type="submit" value="Приєднатися">
    </form>
    {% endif %}

    <a id="manage-course" href="{% url "courses:manage" course.id %}">Управління списком курсів</a>
{% endblock %}
