{% extends "common/base_with_navbar.html" %}
{% load cloudinary %}
{% block content %}
{% for course in enrolled %}


    <div id="enrolled-courses" class="list-group">
            <a href="{% url "courses:course_dashboard" course.id %}" class="list-group-item course-item">

                {% cloudinary course.img width=50 height=50 crop="fill" %}
                <h4>{{ course.title }}</h4>
                <h5>{{ course.short_description }}</h5>
            </a>
    </div>
{% endfor %}

{% endblock %}