{% extends "common/base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to E-Learning System!</h1>

        <p> We have a lot of interesting courses</p>

        <p>
            <a class="btn btn-primary btn-lg btn-info" href="{% url "dashboard:login" %}" role="button">Sign in</a>
            <a class="btn btn-primary btn-lg" href="{% url "dashboard:register" %}" id="register" role="button">Sign up</a>
        </p>


    </div>

    <div class="list-group">
        {% for course in courses %}
            <a href="{% url "courses:course_overview" course.id %}" class="list-group-item">
                <img src="{{ media }}{{ course.img }}" class="img-rounded" height="50" width="50">
                <h4>{{ course.title }}</h4>
                <h5>{{ course.short_description }}</h5>
            </a>
        {% endfor %}
        <a href=" {% url "courses:new_course" %}" id="new-course" class="list-group-item btn btn-info">...or you wish to
            create a new one?</a>
    </div>

{% endblock %}