{% extends "common/base.html" %}
{% load cloudinary %}

{% block content %}
    <div class="jumbotron">
        <h1>Ласкаво просимо до системи дистанційного навчання!</h1>

        <p> А що в нас для Вас є? Велика кількість пізнавальних і цікавих курсів! </p>

        {% if user.is_authenticated  %}
            <p>Вітаємо, {{ user }}</p>
            <p>
                <a class="btn btn-primary btn-lg" href="{% url "accounts:profile" %}" role="button">Профіль</a>
            </p>
        {% else %}
        <p>
            <a class="btn btn-primary btn-lg btn-info" href="{% url "accounts:login" %}" role="button">Увійти</a>
            <a class="btn btn-primary btn-lg" href="{% url "accounts:register" %}" id="register" role="button">Зареєструватися</a>
        </p>
        {% endif %}


    </div>

    <div class="list-group">
        {% for course in courses %}
            <a href="{% url "courses:course_overview" course.id %}" class="list-group-item">
                <img src="{% cloudinary "course.img" width=50 height=50 crop="fill" %}" class="img-rounded" height="50" width="50">
                <h4>{{ course.title }}</h4>
                <h5>{{ course.short_description }}</h5>
            </a>
        {% endfor %}
    </div>

{% endblock %}
